
#error{
color:red;
padding-left:20px;
}
#done{
	color:blue;
	padding-left:20px;
	
}
label.error{
color:red;
}
.login_title h3 {
	font-size: 16px;
}

input#email,
input#password {
	width: 94%;
	margin: 10px auto;
}

.login {
	width: 20%;
	margin: 10% auto;
	border: 1px solid #75716754;
}

.login_title {
	/* border: 1px solid; */
	/* margin-left: 10px; */
	background-color: #adb2b736;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	color: #848481;
	border-bottom: 1px solid #75716754;
}

.form-check {
	padding-left: 2.25rem;
}

#btn-login {
	width: 96%;
	margin: 0px 5px 0px 5px;
	padding: 4px;
	background-color: rgb(27, 204, 145);
	border: 1px solid #a29f9f;
	border-radius: 5px;
}

.register_link {
	display: inline-block;
	padding-left: 15px;
	margin: 10px 0px 10px 0px;
}

h6 {
	font-size: 1rem;
	padding: 10px;
}

.error {
	display: block;
	padding: 5px 20px;
	color: red;
}