

body {
    font-size: 13px;
}
#done{
	color: blue;
}
#error{
	color: red;
}

.dropdown-menu.show {
    transform: translate3d(-95px, 42px, 0px);
    display: block;
    margin-top: 9px;
    width: 150px;
    min-width: 0;
}

.nav-tabs .nav-link {
    border: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

div#nav-id {
    background-color: #f8f8f8;
}

a.logo-img {
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    display: inline-block;
}

a.nav-link.dropdown-toggle {
    color: #333333;
}

.menu {
    background-color: #f8f8f8;
    margin-left: -15px;
    border-right: 1px solid #bdb8b294;
    height: -webkit-fill-available;
}

input#search {
    padding-left: 4px;
    padding: 2px;
    width: 75%;
    margin-right: 5px;
}

.input-search {
    padding: 10px;
    border-bottom: 1px solid #b7b7ae8c;
}

button.submit {
    background-color: white;
    border: 1px solid #d0d0c7;
    width: 20%;
    padding: 3px 10px;
    margin-left: 0px;
    margin-top: 1px;
}

ul {
    margin-left: -40px;
    list-style: none;
}

th {
    height: 20px;
    text-align: left;
}

ul>li {
    border-bottom: 1px solid #d0d0c7;
    padding: 10px 5px;
}

ul>li:hover {
    display: block;
    background-color: #b3b3ae3b;
}



.table td,
.table th,
.table thead th {
    vertical-align: middle;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.info-head {
    border-bottom: 1px solid #cecec6;
    padding-left: -15px;
    margin-left: -15px;
}

.edit_profile {
    border: 1px solid #c5c5c0;
    border-radius: 5px;
    margin-left: -15px;
    margin-top: 10px;
}

.title {
    background-color: #c1c5ca29;
    padding: 1px 10px;
    border-bottom: 1px solid #bfbbb6;
    height: 40px;
}

.input_info_edit {
    padding: 10px 10px;
}

#example {
    width: 100%;
}

h6 {
    font-size: 1rem;
    margin-top: 6px;
    font-weight: 400;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 500;
}

.form-control {
    width: 100%;
}

label.error {
    display: inline-block;
    color: red;
    width: 100%;
}
button#btn-addContent,
button#reset,
button#btn-Edit {
    background: white;
    border: 1px solid #b1a9a9;
    padding: 7px;
    border-radius: 5px;
}
button#btn-addContent,
button#reset,
button#btn-Edit {
    background: white;
    border: 1px solid #b1a9a9;
    padding: 7px;
    border-radius: 5px;
}

/* loading */
#loader{
margin: 20% 40%;
display:none;
}
@keyframes lds-double-ring {
0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

@-webkit-keyframes lds-double-ring {
0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

@keyframes lds-double-ring_reverse {
0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
}

@-webkit-keyframes lds-double-ring_reverse {
0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
}

.lds-double-ring {
position: relative;
}

.lds-double-ring div {
box-sizing: border-box;
}

.lds-double-ring>div {
position: absolute;
width: 168px;
height: 168px;
top: 16px;
left: 16px;
border-radius: 50%;
border: 8px solid #000;
border-color: #fcb711 transparent #fcb711 transparent;
-webkit-animation: lds-double-ring 1s linear infinite;
animation: lds-double-ring 1s linear infinite;
}

.lds-double-ring>div:nth-child(2),
.lds-double-ring>div:nth-child(4) {
width: 148px;
height: 148px;
top: 26px;
left: 26px;
-webkit-animation: lds-double-ring_reverse 1s linear infinite;
animation: lds-double-ring_reverse 1s linear infinite;
}

.lds-double-ring>div:nth-child(2) {
border-color: transparent #f37021 transparent #f37021;
}

.lds-double-ring>div:nth-child(3) {
border-color: transparent;
}

.lds-double-ring>div:nth-child(3) div {
position: absolute;
width: 100%;
height: 100%;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.lds-double-ring>div:nth-child(3) div:before,
.lds-double-ring>div:nth-child(3) div:after {
content: "";
display: block;
position: absolute;
width: 8px;
height: 8px;
top: -8px;
left: 72px;
background: #fcb711;
border-radius: 50%;
box-shadow: 0 160px 0 0 #fcb711;
}

.lds-double-ring>div:nth-child(3) div:after {
left: -8px;
top: 72px;
box-shadow: 160px 0 0 0 #fcb711;
}

.lds-double-ring>div:nth-child(4) {
border-color: transparent;
}

.lds-double-ring>div:nth-child(4) div {
position: absolute;
width: 100%;
height: 100%;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.lds-double-ring>div:nth-child(4) div:before,
.lds-double-ring>div:nth-child(4) div:after {
content: "";
display: block;
position: absolute;
width: 8px;
height: 8px;
top: -8px;
left: 62px;
background: #f37021;
border-radius: 50%;
box-shadow: 0 140px 0 0 #f37021;
}

.lds-double-ring>div:nth-child(4) div:after {
left: -8px;
top: 62px;
box-shadow: 140px 0 0 0 #f37021;
}

.lds-double-ring {
width: 200px !important;
height: 200px !important;
-webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}