.register_title h3 {
	font-size: 16px;
}

input#email, input#password, input#confirmPassword, input#userName {
	width: 94%;
	margin: 10px auto;
}

.register {
	width: 20%;
	margin: 10% auto;
	border: 1px solid #75716754;
}

.register_title {
	
	background-color: #adb2b736;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	color: #848481;
	border-bottom: 1px solid #75716754;
}

.form-check {
	padding-left: 2.25rem;
}

#btn-register {
	width: 96%;
	margin: 0px 5px 0px 5px;
	padding: 4px;
	background-color: rgb(27, 204, 145);
	border: 1px solid #a29f9f;
	border-radius: 5px;
}

.login_link {
	display: inline-block;
	padding-left: 15px;
	margin: 10px 0px 10px 0px;
}

.error {
	display: block;
	padding: 5px 20px;
	color: red;
}
#error{color:red;}
#done{color:blue;}
